body {
    margin: 0 !important;
    padding: 0 !important;
    background-image: url('/assets/background.png');
    background-size: cover;
    image-rendering: pixelated;
}#myCanvas{
    display: block;
 
    border: 2px solid red;
}

.navbar-element{
    list-style-type: none;
    float: left;
}